body{
  padding: 2rem;
  background-color: #eeecec
}

.main-title{
 text-align: center
}

.logo-title{
  font-style: italic;
  font-size: larger;
  color: #f6b93b;
  padding: 1rem;
}
.grid-container{
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #eeecec;
  border-radius: 14px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.product-main{
  display: grid;
}

.product-image{
  max-width: 50%;
}

.grid-container .product-quantity {
  display: none;
}

.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align: center;
  font-size: 15px;
  padding: 1rem;
}

.tooltip .top {
  min-width:200px; 
  top:-20px;
  left:50%;
  transform:translate(-50%, -100%);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip:hover .top {
  display:block;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.product-cart .product-image{
  max-width: 5%;
}
.product-cart span{
  padding: 5px;
}

.error{
  font-style: italic;
  color: orangered;
  text-align: center;
 }

.button-main{
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 5px;
  border: 2px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
}

 .button-main:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
  }

  .add-to-cart{
    font-size: 15px;
    padding: 1rem;
    margin-top: 1rem;
  }

  .cart {
    background-color:  rgba(255, 255, 255, 0.8);
    padding: 1rem;
  }

  .cart .tooltip{
    display: none;
  }

  .cart-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  }

  .cart-item{
    font-size: 15px;
    text-align: center;
    line-height: 2rem;
  }

  .cart-total::before{
    display: table;
    content:"";
    color: #2196F3;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    width: 100%
  }
  .cart-total{
    margin: 5rem 5rem 2rem 5rem
  }

  .button-remove{
    border-radius: 14px;
    background-color: #f6b93b;
    align-items: center;
    color: #ffffff
  }

  .checkout{
    font-size: 25px;
    margin-left: 5rem;
  }

  .clear-cart{
    font-size: 25px;
    margin-left: 3rem;
    background-color: #2196F3
  }

  /* modal */
  .modal-board {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.614);
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999;
  }
  .display-block{
      display: block;
  }
  .display-none {
      display: none;
  }
  .modal-board-active {
      display: flex;
  }

  .modal-board__container {
      display:block; 
      position: relative;
      background-color: #eeecec;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      margin: 0;
      padding: 10%;
      width: 60%;
    }
  
  .modal-board__footer{
      align-items: center;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-bottom: 3%;
      padding-top: 2%;
  }

  .modal-header__title {
    align-items: center;
    background-color: #ffffff;
    color: #f6b93b;
    border: 1px solid grey;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif;
    }
  
  .modal-btn-1{
    margin-left: 5%;
    font-size: 25px;
    padding: 2%;
  }
  .modal-btn-2{
    margin-right: 5%;
    font-size: 25px;
    padding: 2%;
  }

  .modal-checkout-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
  }

  .modal-total{
    font-size: 20px;
    font-family: sans-serif;
  }

.modal-select{
    font-size: 20px;
    padding: 0 5px 0 5px;
    border-radius: 10px;
  }

 .modal-select option{
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
 }

 .modal-error{
  padding: 20px;
  font-size: 20px;
 }

  @media only screen and (max-width: 600px) {
    body{
      padding: 1rem;
    }
    .logo-title{
      font-size: 3rem;
    }

    .grid-item{
      display: flex;
      flex-flow: column wrap;
    }
    .add-to-cart{
      font-size: 25px;
      padding: 1rem;
    }
    .product-cart .product-image{
      display: none;
    }
    .cart{
      background-color: #add8e6;
      padding: 1rem 0.5rem;
    }
    .checkout{
      font-size: 30px;
      margin-left: .5rem;
    }

    .clear-cart{
      font-size: 30px;
      margin-left: .5rem;
      margin-top: 1rem;
    }
    
    .cart-total{
      font-size: 18px;
      margin-left: .5rem;
    }
    .tooltip{
      font-size: 25px;
    }
    .tooltip .top{
      font-size: 18px;
    }
    .modal-header__title {
      font-size: 1rem;
      padding: 5px 10px;
    }

    .modal-btn-1{
      margin-right: 2%;
      font-size: 12px;
      padding: 3px
    }
    .modal-btn-2{
      margin-right: 2%;
      font-size: 12px;
      padding: 3px;
    }

    .modal-select, .modal-select option {
      text-overflow: ellipsis;
      font-size: 25%;
 }
    .modal-total{
      font-size: 75%;
      padding: 2%;
    }
    .modal-error{
      font-size: 80%;
      text-align: center;
      padding-top: 0;
    }

  }